{% load static %}
<html lang="es">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <h5>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/home">
            <img src={% static 'logo_is.png' %}  width="80" height="80" alt="">
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" href="/cartelera">Cartelera</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Usuarios
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/listar_choferes">Choferes</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/listar_admin">Administradores</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/listar_pasajeros">Pasajeros</a></li>
              </ul>
          </li>
           <li class="nav-item">
             <a class="nav-link" href="/listar_viajes">Viajes</a>
           </li>
           <li class="nav-item">
              <a class="nav-link" href="/listar_choferes">Choferes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'listarVehiculos' %}">Vehiculos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listar_ciudades">Ciudades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listar_rutas">Rutas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listar_insumos">Insumos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/menu_info_de_contacto">Contacto</a>
          </li>

      </ul>
    </div>
    <ul class="nav justify-content-end">
    <div class ="ml-auto">
      <a class="nav-item px-2 mr-auto active ml-auto">  <a class="btn btn-secondary" aria-labelledby="navbarDropdownMenuLink" style="float:right;" href="{% url 'logout' %}">Cerrar Sesión</a>
      <a class="nav-link" aria-labelledby="navbarDropdownMenuLink" style="color: grey;float:right;" href="/ver_perfil_admin">Ver perfil</a>
     </a>
   </div>
  </ul>

      </nav>
      <ul style= "background-color: #115571 ; color: white" class="nav justify-content-center">
           <span class="navbar-text">
             <h1> {% block h1 %} {% endblock %} </h1>
           </span>
      </ul>
      </nav>
    </h5>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src={% static 'js/jquery-3.4.1.min.js' %}></script>
    <link rel="stylesheet" href= {% static 'css/bootstrap.min.css' %} >
    <link rel="stylesheet" href= {% static 'libs/css/bootstrap-datepicker.standalone.css' %} >
  </head>
      <!--<center>-->

    </h1>
  </div>
  <body style="background-color:#adb5b8">
    <div>
        <!--<center>-->
        <!--</center>-->
    </div>


  {% block content %}
    {% csrf_token %}

  {% endblock %}
  <!--libreria jquery-->




  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
  <script src={% static 'js/bootstrap.min.js' %}> </script>
  <script src={% static 'libs/js/bootstrap-datepicker.min.js' %}></script>
  <script src={% static 'libs/locales/bootstrap-datepicker.es.min.js' %}></script>

  <script >
          $(document).ready(function() {

              $('#boton-modal').on('click', function() {

                  //El metodo .modal(), se utiliza para abrir la ventana modal de bootstrap 4
                  $('#modal-date').modal();

              })


              $('#fecha').datepicker({
                  language: "es",
                  todayBtn: "linked",
                  clearBtn: true,
                  format: "dd/mm/yyyy",
                  multidate: false,
                  todayHighlight: true,
                  autoclose: true,
                  startDate: new Date(),
                  endDate: "31/12/2021"

              });

              $('#fecha2').datepicker({
                  language: "es",
                  todayBtn: "linked",
                  clearBtn: true,
                  format: "dd/mm/yyyy",
                  multidate: false,
                  todayHighlight: true,
                  autoclose: true,
                  startDate: new Date(),
                  endDate: "31/12/2021"

              });

          })
  </script>
</body>
</html>
