
{% extends "diseño.html" %}

{% block title %}Agregar_vehiculo{% endblock %}
{% block h1 %}<center>Agregar vehiculo</center>{% endblock %}
{% block content %}
  {% if form.errors %}
    <div class= 'alert alert-danger' role='alert'>
      fallo en el registro
    </div>
    {% endif %}

  <form action="/guardar_vehiculo/" method="POST">
    {% csrf_token %}
    {% if mensaje == "ok" %}
      <div class='alert alert-success' role='alert'>
        El vehiculo se registro exitosamente!
      </div>
    {% endif %}
    {% if mensaje == "not_ok" %}
      <div class= 'alert alert-danger' role='alert'>
        Fallo en el registro del vehiculo. La patente ingresada ya esta registrada
      </div>
    {% endif %}


    <div class="container">
      <center>
        <div class="row">
          <div class="col-sm">
            <h4> <p style="margin: 40px">Complete el formulario </p></h4>
            <h5>
              <br>
              <p> <input class="col-sm-12 col-form-label" type="text" pattern="[A-Z]{3,3}[0-9]{3,3}" title= "Ingrese una patente con formato valido. Por ejemplo 'ABC123'" name="patente" placeholder="Ingrese la patente sin espacios"></p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" type="text" name="marca" for="inputGroupSelect01">Marca</label>
                </div>
                <select class="custom-select" type="text" name="marca" id="marca">
                  <option value="Mercedes-Benz">Mercedes-Benz</option>
                  <option value="Agrale">Agrale</option>
                  <option value="Renault">Renault</option>
                  <option value="Iveco">Iveco</option>
                  <option value="Ford">Ford</option>
                  <option value="Volkswagen">Volkswagen</option>
                </select>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" name="modelo" for="inputGroupSelect01">Modelo</label>
                </div>
                <select class="custom-select" type="text" name="modelo" id="modelo">
                  <option selected>2000</option>
                  <option value="2001">2001</option>
                  <option value="2002">2002</option>
                  <option value="2003">2003</option>
                  <option value="2004">2004</option>
                  <option value="2005">2005</option>
                  <option value="2006">2006</option>
                  <option value="2007">2007</option>
                  <option value="2008">2008</option>
                  <option value="2009">2009</option>
                  <option value="2010">2010</option>
                  <option value="2011">2011</option>
                  <option value="2012">2012</option>
                  <option value="2013">2013</option>
                  <option value="2014">2014</option>
                  <option value="2015">2015</option>
                  <option value="2016">2016</option>
                  <option value="2017">2017</option>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                </select>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" name="capacidad" for="inputGroupSelect01">Cantidad de asientos</label>
                </div>
                <select class="custom-select" type=IntegerField name="capacidad" id="capacidad">
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                </select>
              </div>
              <p>
                <h4> ¿El vehiculo es premium?                   </4>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="premium" id="inlineRadio1" value="True">
                    <label class="form-check-label" for="inlineRadio1">Si</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="premium" id="inlineRadio2" value="False" checked>
                    <label class="form-check-label" for="inlineRadio2">No</label>
                  </div>
                  <br>
              </p>
            </h5>
          </div>
        </div>
      </center>
    </div>
  <center>
    <br>
    <br>
    <br>
      <p>
        <button style="padding-top:10px;padding-bottom:10px;padding-left:40px;padding-right:40px;" type="submit" class="btn btn-success">Ok</button>
      </p>
      <p>
        <a class="btn btn-dark" href="/home">Cancelar</a>
      </p>
</center>
  </form>
{% endblock %}
