{% extends "admin_base.html" %}

{% block title %}Agregar_ruta{% endblock %}
{% block h1 %}<center>Agregar ruta</center>{% endblock %}
{% block content %}
  {% if form.errors %}
    <div class= 'alert alert-danger' role='alert'>
      fallo en el registro
    </div>
    {% endif %}

  <form action="/guardar_ruta/" method="POST">
    {% csrf_token %}
    {% if mensaje == "ok" %}
      <div class='alert alert-success' role='alert'>
        La ruta se registro exitosamente!
      </div>
    {% endif %}
    {% if mensaje == "not_ok" %}
      {% for i in errores %}
        {% if i == 1 %}
          <div class= 'alert alert-danger' role='alert'>
              Fallo en el registro de la ruta. El nombre ingresado ya esta registrado
          </div>
      {% endif %}
      {% if i == 2 %}
        <div class= 'alert alert-danger' role='alert'>
            No se pueden realizar viajes dentro de la misma ciudad.
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

    <div class="container">
      <center>
        <div class="row">
          <div class="col-sm">
            <h4> <p style="margin: 40px">Complete el formulario </p></h4>
            <h5>
              <br>
                <p>
                  <div class="input-group-prepend">
                    <label class="input-group-text" type="text" name="origen" for="inputGroupSelect01">Ciudad origen</label>
                    <select class="col-sm col-form-label custom-select-md" type="text" name="origen" id="origen" required>
                      <option value="" disabled=True selected> --Seleccione-- </option>
                        {% for i in ciudades %}
                          <option value= "{{i.nombre}}">{{i.nombre}} ({{i.nombre}}-{{i.provincia}}-{{i.pais}})</option>
                          {% endfor %}
                    </select>
                  </div>
                </p>
              <p>
                <div class="input-group-prepend">
                  <label class="input-group-text" type="text" name="destino" for="inputGroupSelect01">Ciudad destino</label>
                  <select class="col-sm col-form-label custom-select-md" type="text" name="destino" id="destino" required>
                    <option disabled=True value="" selected> --Seleccione-- </option>
                      {% for i in ciudades %}
                        <option value= "{{i.nombre}}">{{i.nombre}} ({{i.nombre}}-{{i.provincia}}-{{i.pais}})</option>
                      {% endfor %}
                  </select>
                </div>
              </p>
              <p> <input hidden type="text" name="nombre" placeholder="Nombre" id="nombre" required></p>
              <p> <input class="col-sm-12 col-form-label" type="text" pattern="[0-9]+" title= "Ingrese los km de la ruta" name="km" placeholder="Km" required></p>
              <div class="input-group">
                  <input class="col-sm-10 col-form-label" type="text" pattern="^([0-9]+)" name="duracion" placeholder="Duración" required>
                  <select class="col-sm col-form-label custom-select-md" name= "duracion_en" id="duracion_en" required>
                    <option value="" disabled=True selected>--Seleccione--</option>
                    <option class="dropdown-item" value="horas">Hora/s</option>
                    <option class="dropdown-item" value="minutos">Minutos</option>
                  </select>
              </div>
            </h5>
          </div>
        </div>
      </center>
    </div>
  <center>
    <br>
    <br>
    <br>
      <p>
        <button onclick="consola()" style="padding-top:10px;padding-bottom:10px;padding-left:40px;padding-right:40px;" type="submit" class="btn btn-success">Agregar</button>
      </p>
      <p>
        <a class="btn btn-dark" href="/listar_rutas">Cancelar</a>
      </p>
</center>
{{ form }}
  </form>
  <script>
    function consola(){
      document.getElementById("nombre").value = (document.getElementById("origen").value +"-"+ document.getElementById("destino").value);
      console.log(document.getElementById("nombre").value)
    }
  </script>
{% endblock %}
