{% extends "diseño.html" %}

{% block title %}Bienvenido{% endblock %}
{% block h1 %}<center>Bienvenido</center>{% endblock %}
<!-- No lo centre en todas las paginas por si las demas queremos el titulo al costado -->
<!--{% load static %}-->

<!--<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href= {% static 'css/bootstrap.min.css' %} >
    <title> Bienvenido</title>
  </head>
  <body style="background-color:#adb5b8">
      <div>
      <class="container"
        <h1 class="display-2" style="background-color:#115571; color:#adb5b8">
          <center>
            Bienvenido
          </center>
        </h1>
      </div>-->
{% block content %}
  <form action="/bienvenida/" method="GET">
    <div class="container">
      <center>
        <p style="margin: 20px"> <img src={% static 'logo_is.png' %} class= "img-fluid" alt="logo"> </p><br>
        <div class="row">
          <div class="col-sm">
            <h5>
              <p><input class="col-sm-4 col-form-label" type="text" name="us" placeholder="usuario"> </p>
              <p><input class="col-sm-4 col-form-label" type="password" name="contra" placeholder="contraseña"></p>
            </h5>
          </div>
        </div>
      </center>
    </div>
  <center>
    <p><button type="button" class="btn btn-success">Iniciar Sesión</button></p>
      <!--<button type=submit value="Iniciar Sesión" class="btn btn-success">-->
    <p> <button type="button" class="btn btn-outline-dark">¿Olvidó su contraseña?</button></p>
    <p> <button type="button" class="btn btn-dark">Registrarse</button></p>
  </center>
  </form>
{% endblock %}
<!--  </body>
</html>-->
