{% extends "diseño.html" %}

{% block title %}Registrate{% endblock %}
{% block h1 %}<center>Cambiar contraseña</center>{% endblock %}
{% block content %}
  <form action="/actualizar_contra/" method="POST">
    {% csrf_token %}
      <div class="container">
        <center>
          <div class="row">
            <div class="col-sm">
              <h4> <p style="margin: 40px">A continuación ingrese la nueva contraseña </p></h4>
              <br>
              <br>
              <br>
              <h5>
                <h5>
                  <div class="input-group-prepend" style="padding-left: 20%;">
                    <label class="input-group-text" style="width:15%;" type="text" name="contraseña" for="inputGroupSelect01">Contraseña</label>
                    <input id="password" class="list-group-item" style="width: 50%;" type="password" pattern=".{6,}" title= "La contraseña debe contener al menos 6 caracteres" name="password" placeholder="Contraseña" required>
                  </div>
                  <div hidden style="padding-left: 20%;" class= "input-group-prepend">
                    <label class="input-group-text" style="width:15%;" type="text" name="dni_label" for="inputGroupSelect01">DNI</label>
                    <input class="list-group-item" style="width: 50%;" type="text" name="dni" placeholder="DNI" id="dni" required>
                  </div>

                  <div hidden class="input-group-prepend">
                    <label class="input-group-text" type="text" name="nombre" for="inputGroupSelect01">Nombre</label>
                    <input class="col-sm col-form-label" type="text" name="nombre" placeholder="Nombre" id="nombre" required>
                  </div>

                  <div hidden class="input-group-prepend">
                    <label class="input-group-text" type="text" name="apellido" for="inputGroupSelect01">Apellido</label>
                    <input class="col-sm col-form-label" type="text" name="apellido" placeholder="Apellido" id="apellido" required>
                  </div>

                  <div hidden class="input-group-prepend">
                    <label class="input-group-text" type="text" name="email" for="inputGroupSelect01">Email</label>
                    <input class="col-sm col-form-label" type="email" pattern= "[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" title= "Ingrese un mail valido" name="email" placeholder="Email" id="email" required>
                  </div>

                  <div hidden class="input-group-prepend">
                    <label class="input-group-text" type="text" name="telefono" for="inputGroupSelect01">Teléfono</label>
                    <input class="col-sm col-form-label" type="text" pattern= "^([0-9]+)" name="telefono" placeholder="Telefono" id="telefono" required>
                  </div>

                  <div hidden class="input-group-prepend">
                    <label class="input-group-text" type="text" name="direccion" for="inputGroupSelect01">Dirección</label>
                    <input class="col-sm col-form-label" type="text" name="direccion" placeholder="Direccion" id="direccion" required>
                  </div>
              </h5>
            </div>
          </div>
        </center>
      </div>
    <center>
    </h5>
      <p><button type="submit" class="btn btn-success">Guardar</button></p>
      <p><a class="btn btn-dark" href="/accounts/login">Cancelar</a></p>
    </center>
</form>
<script>
    document.getElementById('dni').value = "{{usuario.dni}}"
    document.getElementById("nombre").value = "{{usuario.nombre}}"
    document.getElementById("apellido").value = "{{usuario.apellido}}"
    document.getElementById("direccion").value = "{{usuario.direccion}}"
    document.getElementById("email").value = "{{usuario.email}}"
    document.getElementById("telefono").value = "{{usuario.telefono}}"
    document.getElementById("password").value = document.getElementById("password").value

</script>
{% endblock %}
