{% extends base %}
{% load static %}
{% block title %}Cartelera{% endblock %}
{% block h1 %}<center>Cartelera</center>{% endblock %}
{% block content %}

<form action="/puntuar//?actual={{actual}}-{{cant}} " method="POST">
<div class = "container">
  <div class= "row row-cols-2">

    <div class= "col-6">
      <br>

      <h4>
        Anuncios de la empresa
      </h4>
      <br><br>

      {% if is_a == 0 %}
        <div class='alert alert-warning' role='alert'>
          Actualmente la empresa no registro ningun anuncio
        </div>
      {% endif %}

      {% if tipo == 1 %}
          <p>
            <a id="agregar" style="display:block; padding-top:10px;padding-bottom:10px;padding-left:40px;padding-right:40px;" href="/agregar_anuncio" type="submit" class="btn btn-success" name=nombre >Agregar anuncio</a>
          </p>
      {% endif %}
        <br><br><br>
<h5>
      {% for i in anuncios %}
          <div class="card text-black bg-light mb-3" style="max-width: 40rem;">
            <div class="card-header">URGENTE
              {% if tipo == 1%}
                <a class="btn btn-danger" href= "a/{{i.id}}" style="padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px;float:right;">Eliminar</a>
                <a class="btn btn-warning" href= "editar_anuncio/{{i.id}}" style="padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px;float:right;">Editar</a>
              {% endif %}

              </div>
            <div class="card-body">
              <h5 class="card-title">{{i.titulo}}</h5>
              <p class="card-text">{{i.texto}}</p>
              <p class="card-text"></p>
            <h6>
              <p class="card-text">{{i.fecha_y_hora}}</p>
            </h6>
            </div>
          </div>
        {% endfor %}
      </h5>
      </div>
  <div class= "col-6" style="float:right;">
    <br>

    <h4>
      Comentarios de los viajes
    </h4>
    <br><br>
      {% if is_c == 0 %}
        <div class='alert alert-warning' role='alert'>
          Actualmente no hay viajes realizados
        </div>
       {% endif %}

      {% for i in viajes %}

                <div class="card" style="width: 40rem">

                  <h4>
                    <div class="card-header">VIAJE A : {{i.ruta}}
                    </div>
                  </h4>
                  <div class="card-body">
                    <h5>
                      <p class="card-text">SALIDA: {{i.fecha_salida}}</p>
                      <p class="card-text">LLEGADA: {{i.fecha_llegada}}</p>
                      {% for key,value in nombre_chofer.items %}
                        {% if key == i.chofer%}
                            <p class="card-text">CHOFER: {{value}}</p>
                        {% endif %}
                      {% endfor %}
                      <p class="card-text">PATENTE COMBI: {{i.vehiculo}}</p>
                      <br>
                      <p class="card-text"><a class="btn btn-success" href= "/ver_comentario/{{i.id}}/{{tipo}}/{{usuario}}/" style="padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px;">Ver comentarios</a>
                      {% if i.id in habilitados %}
                        <a id="puntuar" style="padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px;" href="/puntuar/{{i.id}}" type="submit" class="btn btn-info" name="puntuar" >Puntuar</a>
                      {% else %}
                        <button disabled style="padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px;" href="/puntuar/{{i.id}}" type="button" title='Ya puntuó este viaje' class="btn btn-info" name="puntuar" >Puntuar</button>
                        <!--p style="background-color:grey; color:white">Este viaje ya fue puntuado por usted</p-->
                      {% endif %}
                    </p>

                    </h5>
                  </div>
                  </div>
                  <br>
        {% endfor %}


      </div>
      </div>
    </div>
{% endblock %}
