{% extends base %}
{% load static %}
{% block title %}DatosCompra{% endblock %}
{% block h1 %}<center>Datos de la compra</center>{% endblock %}
{% block content %}

{% csrf_token %}

      <br><br>
      <div class="media" style="float:center;padding-left:750">
        <img class="d-flex rounded avatar z-depth-1-half mr-2" src={% static 'carrito.png' %}  width="100" height="100" alt="Avatar">
        <h2>
                   MI CARRITO
        </h2>
      </div>
      <br><br>

        <div class = "container" style="padding-left:250">
          {% if cosas == 0 %}
          <h5>
          <div class='alert alert-warning' role='alert' style="float:left;padding-left:100;padding-right:100">
            No hay insumos en el carrito
          </div>
        </h5>
          {% else %}
            <div class='alert alert-success' role='alert' style="float:left;padding-left:100;padding-right:200">
              Precio total de todos los insumos: ${{precio_total}}
            </div>
            {% for i in insumos %}


            <div class="card" style="width: 40rem">
              <h4>
                <div class="card-header">Insumo

                    <a class="btn btn-danger" href= "/comprar_pasaje/carrito/{{viaje.id}}/{{i.id}}/confirmar_eliminado/" style="padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px;float:right;">Eliminar del carrito</a>

                </div>
              </h4>
              <div class="card-body">
                <h5>
                  <p class="card-text">{{i.insumo.nombre}} X{{i.cantidad}}</p>
                </h5>
                <h6>
                  <p class="card-text">PRECIO: ${{i.precio_ticket}}</p>
                </h6>
              </div>
            </div>

              {% endfor %}
          {% endif %}
            </div>
        <br><br><br>
    <a class="btn btn-dark" href="/comprar_pasaje/tienda/{{viaje.id}}/" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;float:left">Atras</a>

{% endblock %}
