{% extends base %}
{% block title %}Comprar pasajes{% endblock %}
{% block h1 %}<center>Compra de pasajes</center>{% endblock %}
{% block content %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"></script>


  <form action="/comprar_pasaje_completar_datos/{{viaje.id}}/?actual={{actual}}-{{cant}} " method="POST">
    {% csrf_token %}
    <center>
    <!-- Modal -->
    <br><br><br><br><br><br>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cancelar compra</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ¿Desea cancelar la compra, tendrá que volver a ingresar para comprar los pasajes?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No,seguir comprando</button>
            <button type="button" type="submit" onclick="relocate_home({{viaje.id}})" class="btn btn-danger">Si</button>
          </div>
        </div>
      </div>
    </div>
    <p><input class="col-sm-8 col-form-label" type="text" name="dni" pattern="^([0-9]+)" placeholder="DNI" required></p>
    <p><input class="col-sm-4 col-form-label" type="text" name="nombre" placeholder="Nombre" required> <input class="col-sm-4 col-form-label" type="text" name="apellido" placeholder="Apellido" required> </p>
    <input hidden type="text" name="id_user"  id="id_user">
    <input hidden type="text" name="nro_viaje"  id="nro_viaje">
    <input hidden type="text" name="estado"  id="estado">
    <input hidden type="text" name="tarjeta"  id="tarjeta">

  <form action="buscar_viaje" method="POST">
    <br><br>
    <button class="btn btn-primary" href="/comprar_pasaje_completar_datos/{{viaje.id}}/?actual={{actual}}-{{cant}} " type="submit" style="padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px;">Agregar pasaje{{actual}}/{{cant}}</button>
    </center>

</form>
</form>
  <center>
    <button class="btn btn-danger"  style="padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px;" data-toggle="modal" data-target="#exampleModal" >Cancelar</button>
  </center>

    <script>

    function relocate_home(e)
    {
         location.href = "/cancelar_compra/";

    }




    document.getElementById('nro_viaje').value = "{{viaje.id}}"
    document.getElementById('estado').value =  "no abonado"
    document.getElementById('id_user').value="{{usuario}}"
    document.getElementById('tarjeta').value = ""


    console.log(document.getElementById('nro_viaje').value);


    </script>


{% endblock %}
