{% extends base %}
{% block title %}DatosCompra{% endblock %}
{% block h1 %}<center>Datos de la compra</center>{% endblock %}
{% block content %}
  {% csrf_token %}
    {% if aceptado == "si" %}
      {% if base == "usuario_base.html"%}
      <div class='alert alert-success' role='alert'>
          <h4>
        El pago se realizo exitosamente!
        <br>
        <br>
        Para ver el pasaje click aqui:

        <a class="btn btn-primary" href="/ver_pasaje/detalle/{{viaje.id}}/" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;float:center">PASAJE</a>
        <br><br>
        Tambien los puede ver en la seccion "MIS VIAJES" --> "VIAJES POR REALIZAR"
        <br><br>
        *** EL DIA DEL VIAJE: recuerde llevar barbijo, alcohol en gel y el certificado de circulacion para poder viajar,
        de lo contrario no podra subir a la combi ***
        <br><br><br>
                                Gracias por elegirnos  ☺
        <br><br><br><br>


                               ¡ Que tenga buen viaje !
        </h4>
        </div>
      {% else %}
        <div class='alert alert-success' role='alert'>
            <h4>
          El pago se realizo exitosamente!
          <br>
          <br>
          Espere un momento... en unos segundos será redirigido
          </h4>
          </div>
        {% endif %}
    {% else %}
    <br>
    <h5>
      <div class= 'alert alert-danger' role='alert'>
        Fallo en la compra porque usted ya tiene un pasaje en este viaje.
        <br>
        <br>
        Para ver el pasaje click aqui:

  <a class="btn btn-primary" href="/ver_pasaje/detalle/{{viaje.id}}/" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;float:center">PASAJE</a>
        <br><br>
        Tambien los puede ver en la seccion "MIS VIAJES" --> "VIAJES POR REALIZAR"
        <br><br>
      </div>
    </h5>
    {% endif %}
    <br>
      <a class="btn btn-dark" href="/home" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;float:center">Volver</a>

  <script>
  console.log("ok");
  if("{{base}}" != "usuario_base.html"){
    console.log("ok");

    var count = 5;
      setInterval(function(){
          count--;
          if (count == 0) {
              window.location = "/listar_proximos_viajes/";
          }
      },1000);
  }


  </script>
{% endblock %}
