{% extends "usuario_base.html" %}
{% block title %}DatosCompra{% endblock %}
{% block h1 %}<center>Datos de la compra</center>{% endblock %}
{% block content %}

  {% csrf_token %}
        <div class = "container">
          <div class= "row row-cols-2">

            <div class= "col-6" style= "float:left">

              <div class="card text-black bg-light mb-3" style="max-width: 40rem;">
                <h4>
                <div class="card-header">VIAJE SELECCIONADO: {{nombre}} </div>
              </h4>
                <div class="card-body">
                <h5>
                  <p class="card-text">     CANTIDAD DE PASAJES: {{ya_tiene}}</p>
                      <br>
                  <p class="card-text">  SALIDA:</p>
                  <p class="card-text">     {{viaje.fecha_salida}}</p>
                      <br>
                  <p class="card-text">  LLEGADA:</p>
                  <p class="card-text">     {{viaje.fecha_llegada}}</p>
                      <br>
                  <p class="card-text">  CHOFER:</p>
                  <p class="card-text">     {{chofer.nombre}} {{chofer.apellido}}</p>
                      <br>
                  <p class="card-text">  PATENTE DE LA COMBI:</p>
                  <p class="card-text">     {{patente}}</p>
                      <br>
                  <p class="card-text">     TIPO DE ASIENTO:</p>
                  {% if tipo_asiento == 0 %}
                    <p class="card-text">     semi cama</p>
                  {% else %}
                    <p class="card-text">     cama</p>
                  {% endif %}
                </h5>

                <br>
                <br>
                <h3 class="card-title" id="precio">PRECIO: ${{precio}}</h3>
                </div>
              </div>
            </div>

            <div class= "col-6" style="float:right;">
              <br>
            <center>
            <h4>
                ¿Desea agregar insumos a la compra?
            </h4>
          </center>
            <br>
            <br>
            <br>
            <br>
            <p>
                <a class="btn btn-primary" href= "/comprar_pasaje/tienda/{{viaje.id}}"  style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;float:center">Ver tienda</a>
                <a class="btn btn-success" href= "/comprar_pasaje/tarjeta/{{viaje.id}}" style="padding-top:10px;padding-bottom:10px;padding-left:40px;padding-right:50px;float:right">Omitir</a>
            </p>
            </h5>
            </div>
          </div>
        </div>
      </div>
      </div>
{% endblock %}
