{% extends "usuario_base.html" %}
{% load static %}
{% block title %}DatosCompra{% endblock %}
{% block h1 %}<center>Datos de la compra</center>{% endblock %}
{% block content %}

{% csrf_token %}

  <br>
  <h3>
    <center>
    TIENDA
  </center>
  </h3>

  {% if tienda == 0 %}
  <br>
  <br>
  <div class='alert alert-warning' role='alert'>
    Actualmente no tenemos insumos para ofrecerle
  </div>
  {% else %}
  <div class = "container">
    {% if vendido == "si" %}
      <div class='alert alert-success' role='alert'>
        Se agrego el insumo a su carrito!
      </div>
    {% endif %}
        <a class="btn btn-success" href= "/comprar_pasaje/carrito/{{viaje.id}}/" style="padding-top:10px;padding-bottom:10px;padding-left:40px;padding-right:50px;float:right">Ver carrito</a>
        <br>
      <table class="table table-bordered">
        <thead>
          <tr>
            <td>Nombre</td>
            <td>Precio X1</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          {% for insumo in insumos %}
          <tr>
            <td>{{insumo.nombre}}</td>
            <td>${{insumo.precio}}</td>
              {% if insumo.stock != 0 %}
                  <td><a href="/comprar_pasaje/tienda/{{viaje.id}}/agregar/{{insumo.id}}/" type="submit" class="btn btn-primary" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;">Agregar</a></td>
              {% else %}
              <td>
                SIN STOCK
              </td>
              {% endif %}
            </td>

          </tr>
        {% endfor %}
    {% endif %}
  </tbody>
</table>

<br><br><br>
   <a class="btn btn-success" href= "/comprar_pasaje/tarjeta/{{viaje.id}}" style="padding-top:10px;padding-bottom:10px;padding-left:40px;padding-right:50px;float:right">Siguiente</a>
   <a class="btn btn-dark" href="/comprar_pasaje_menu/{{viaje.id}}/" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;float:left">Atras</a>
 </div>
{% endblock %}
