{% extends "usuario_base.html" %}
{% load static %}
{% block title %}DatosCompra{% endblock %}
{% block h1 %}<center>Datos de la compra</center>{% endblock %}
{% block content %}

<form action="/comprar_pasaje/carrito/{{viaje.id}}/{{ticket.id}}/" method="POST">

{% csrf_token %}
<input hidden type="text" name="nombre"  id="nombre">
<input hidden type="text" name="precio"  id="precio">
<input hidden type="text" name="stock"  id="stock">
<input hidden type="text" name="sabor"  id="sabor">
<input hidden type="text" name="categoria"  id="categoria">
<center>
<h5>
  <br><br>
<div class='alert alert-warning' role='alert'>
  ¿ Seguro que quiere eliminar del carrito {{ticket.insumo.nombre}} X{{ticket.cantidad}} PRECIO: ${{ticket.precio_ticket}} ?
  <br><br><br>
  <p>
    <button style="padding-top:10px;padding-bottom:10px;padding-left:40px;padding-right:40px;" type="submit" class="btn btn-success">Confirmar</button>
  </p>
  <br><br>
  <p>
    <a class="btn btn-dark" href= "/comprar_pasaje/carrito/{{viaje.id}}/" style="padding-top:10px;padding-bottom:10px;padding-left:40px;padding-right:50px;">Cancelar</a>
  </p>
</div>
</h5>
</center>

<script>

  document.getElementById('nombre').value = "{{insumo.nombre}}"
  document.getElementById('precio').value = "{{insumo.precio}}".replace(',','.')
  document.getElementById('stock').value = "{{insumo.stock}}"
  document.getElementById('categoria').value = "{{insumo.categoria}}"
  document.getElementById('sabor').value = "{{insumo.sabor}}"

</script>
{% endblock %}
