{% extends "chofer_base.html" %}
{% load static %}
{% block title %}eliminarPasajero{% endblock %}
{% block h1 %}<center>Confirmar eliminado de pasajero</center>{% endblock %}
{% block content %}

<form action="/eliminar_pasajero/{{pasajero.id}}/{{viaje.id}}/" method="POST">

{% csrf_token %}
<br><br><br>
<div class = "container">
    <div class="alert alert-warning" role="alert">
      <h4>
        ¿ Seguro que quiere eliminar al pasajero {{pasajero.nombre}} {{pasajero.apellido}} ?
        <br><br>
        <p>
        <button class="btn btn-success" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;float:right;">Aceptar</button>
        <a href="/ver_pasajeros/{{viaje.id}}" class="btn btn-dark" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;float:left">Cancelar</a>
        </p>
        <br><br><br>


      </h4>
    </div>
  </div>
<input hidden type="text" name="fecha_salida"  id="fecha">
<input hidden type="text" name="fecha_llegada"  id="fecha2">
<input hidden type="text" name="hora_salida"  id="hora_salida">
<input hidden type="text" name="asientos_total"  id="asientos_total">
<input hidden type="text" name="asientos_disponibles"  id="asientos_disponibles">
<input hidden type="text" name="vendidos"  id="vendidos">
<input hidden type="text" name="precio"  id="precio">
<input hidden type="text" name="estado"  id="estado">
<input hidden type="text" name="vehiculo"  id="vehiculo">
<input hidden type="text" name="chofer"  id="chofer">
<input hidden type="text" name="ruta"  id="ruta">


<script>
  var date = new Date("{{viaje.fecha_salida}}");
  var date2 = new Date("{{viaje.fecha_llegada}}");

  function formatDate(date) {
    var day = date.getDate();
    if (day < 10) {
        day = "0" + day;
    }
    var month = date.getMonth() + 1;
    if (month < 10) {
        month = "0" + month;
    }
    var year = date.getFullYear();
    return day + "/" + month + "/" + year;
  }
  document.getElementById("estado").value = '{{viaje.estado}}';

  document.getElementById('fecha').value = formatDate(date);
  document.getElementById('fecha2').value = formatDate(date2);
  document.getElementById("hora_salida").value = "{{viaje.hora_salida}}";
  document.getElementById("precio").value = "{{viaje.precio}}".replace(',','.')
  document.getElementById("vendidos").value = "{{viaje.vendidos}}"-1;
  document.getElementById("asientos_total").value = "{{viaje.asientos_total}}";
  document.getElementById("asientos_disponibles").value = "{{viaje.asientos_disponibles}}";
  document.getElementById("chofer").value = "{{viaje.chofer.id}}";
  document.getElementById("ruta").value = "{{viaje.ruta.id}}";
  document.getElementById("vehiculo").value = "{{viaje.vehiculo.id}}";


</script>
{% endblock %}
