{% extends "admin_base.html" %}
{% load static %}
{% block title %}Buscar viaje por ciudad{% endblock %}
{% block h1 %}<center>Estadisticas de alta premium</center>{% endblock %}
{% block content %}
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
crossorigin="anonymous"></script>
<div class="container">
  <center>
    <div class="row">
      <div class="col-sm">
          <form action="buscar" method="GET">
          <h5>
            <br>
              <p>
                <div class="dates">
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" type="text" name="fecha_salida1" for="inputGroupSelect01">Desde  </label>
                    </div>
                      <input value="" type="text" autocomplete="off" class="form-control" name="fecha" id="fecha3" placeholder="dd-mm-aaaa" required />
                    </div>
                  </div>

                  <div class="dates">
                    <div class="input-group">
                      <div class="input-group-prepend">
                          <label class="input-group-text" type="text" name="fecha_salida1" for="inputGroupSelect01">Hasta  </label>
                      </div>
                        <input disabled value="" type="text" autocomplete="off" class="form-control" name="fecha2" id="fecha4" placeholder="dd-mm-aaaa" required />
                      </div>
                    </div>

                    <p>
                      <button style="padding-top:10px;padding-bottom:10px;padding-left:40px;padding-right:40px;" type="submit" class="btn btn-success">Buscar</button>
                    </p>
              </p>

          </h5>
      </div>
    </div>
  </center>
</div>
</div>
<script>

$( "#fecha3" )
  .focus(function() {

  })

$( "#fecha3" )
  .focusout(function() {
    $( "#fecha4" ).prop("disabled",false);
    console.log( $("#fecha3").datepicker("getDate"))
  $('#fecha4').datepicker('setStartDate', $("#fecha3").datepicker("getDate"));
  })

  $( "#fecha4" )
    .focus(function() {
      $( "#fecha3" ).prop("disabled",false);
    })


    function formatDate(date) {
      var day = date.getDate();
      if (day < 10) {
          day = "0" + day;
      }
      var month = date.getMonth() + 1;
      if (month < 10) {
          month = "0" + month;
      }
      var year = date.getFullYear();
      return day + "/" + month + "/" + year;
    }

</script>
{% endblock %}
