{% extends 'admin_base.html' %}
{% block title %}Estadisticas{% endblock %}
{% block h1 %}<center>Estadisticas de puntos de viajes</center>{% endblock %}

{% block content %}
<div class="container">
  <center>
    <div class="row">
      <div class="col-sm">

            <br>
              <p>
                <div class="card-body">
                  <h5>
                      <p class="card-text"> {{porcentaje}}% de puntos entre {{viajes}} viajes </p>
                      <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{porcentaje}}" aria-valuemin="0" aria-valuemax="{{viajes}}" style="width: {{porcentaje}}%">{{porcentaje}}%</div>

                      </div>
                      <br>
                        Total de viajes: {{viajes}}
                </div>

              </p>

          </h5>
      </div>
    </div>
  </center>
</div>

<script>


</script>
{% endblock %}
