{% extends "admin_base.html" %}
{% load static %}
{% block title %}Buscar viaje por ciudad{% endblock %}
{% block h1 %}<center>Estadisticas de pasajeros</center>{% endblock %}
{% block content %}
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
crossorigin="anonymous"></script>
<div class="container">
  <center>
    <div class="row">
      <div class="col-sm">
          <form action="pasajero_buscar" method="GET">
          <h5>
            <br>
              <p>
                <div class="dates">
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" type="text" name="fecha_salida1" for="inputGroupSelect01">Desde  </label>
                    </div>
                      <input value="" type="text" autocomplete="off" class="form-control" name="fecha" id="fecha3" placeholder="dd-mm-aaaa" required />
                    </div>
                  </div>

                  <div class="dates">
                    <div class="input-group">
                      <div class="input-group-prepend">
                          <label class="input-group-text" type="text" name="fecha_salida1" for="inputGroupSelect01">Hasta  </label>
                      </div>
                        <input disabled value="" type="text" autocomplete="off" class="form-control" name="fecha2" id="fecha4" placeholder="dd-mm-aaaa" required />
                      </div>
                    </div>

                    <p>
                      <button style="padding-top:10px;padding-bottom:10px;padding-left:40px;padding-right:40px;" type="submit" class="btn btn-success">Buscar</button>
                    </p>
              </p>

          </h5>
      </div>
    </div>
  </center>
</div>
</div>
<script>

$( "#fecha3" )
  .click(function() {
    $( "#fecha4" ).val("").datepicker("update");
  })

$( "#fecha3" )
  .focusout(function() {
    $( "#fecha4" ).prop("disabled",false);
      var date = $('#fecha3').datepicker('getDate');
      console.log(date)
  });


$( "#fecha4" )
  .click(function() {
    var date = $('#fecha3').datepicker('getDate');
    console.log(date);
    $( "#fecha3" ).prop("disabled",false);
    $('#fecha4').datepicker('setStartDate', date);
  })



    function updateDate(inputs, selected){
      console.log("okk")
     var minDate = new Date(selected.date.valueOf());
     $('#fecha4').datepicker('setStartDate', minDate);
    }



</script>
{% endblock %}
