{% extends "diseño.html" %}

{% block title %}Bienvenido{% endblock %}
{% block h1 %}<center>Bienvenido</center>{% endblock %}
<!-- No lo centre en todas las paginas por si las demas queremos el titulo al costado -->
<!--{% load static %}-->

<!--<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href= {% static 'css/bootstrap.min.css' %} >
    <title> Bienvenido</title>
  </head>
  <body style="background-color:#adb5b8">
      <div>
      <class="container"
        <h1 class="display-2" style="background-color:#115571; color:#adb5b8">
          <center>
            Bienvenido
          </center>
        </h1>
      </div>-->
{% block content %}
 <h1> PAGINA EN CONSTRUCCION </h1>
 <a class="nav-item px-2 mr-auto active ml-auto">  <a class="btn btn-secondary float-right" aria-labelledby="navbarDropdownMenuLink" style="text-align:right;" href="{% url 'logout' %}">Logout</a>
{% endblock %}
<!--  </body>
</html>-->
