{% extends "diseño.html" %}

{% block title %}Inicio{% endblock %}
{% block h1 %}<center>Inicio</center>{% endblock %}
<!-- No lo centre en todas las paginas por si las demas queremos el titulo al costado -->
<!--{% load static %}-->

<!--<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href= {% static 'css/bootstrap.min.css' %} >
    <title> Bienvenido</title>
  </head>
  <body style="background-color:#adb5b8">
      <div>
      <class="container"
        <h1 class="display-2" style="background-color:#115571; color:#adb5b8">
          <center>
            Bienvenido
          </center>
        </h1>
      </div>-->
{% block content %}
  <h5>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home">
          <img src={% static 'logo_is.png' %}  width="80" height="80" alt="">
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ">
     <li class="nav-item">
       <a class="nav-link" href="#">Mis viajes</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="#">Viajes</a>
    </li>
     <!--li class="nav-item">
       <a class="nav-link" href="{% url 'listarVehiculos' %}">Vehiculos</a>
     </li>
     <li class="nav-item">
        <a class="nav-link" href="/listar_ciudades">Ciudades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/listar_rutas">Rutas</a>
     </li-->
    </ul>
    </div>
    <ul class="nav justify-content-end">
    <div class ="ml-auto">
      <a class="nav-item px-2 mr-auto active ml-auto">  <a class="btn btn-secondary" aria-labelledby="navbarDropdownMenuLink" style="float:right;" href="{% url 'logout' %}">Cerrar Sesión</a>
      <a class="nav-link" aria-labelledby="navbarDropdownMenuLink" style="color: grey;float:right;" href="#">Ver perfil</a>
     </a>
   </div>
  </ul>
    </nav>
    </nav>
  </h5>
  <div class="alert alert-success" role="alert">
    <h2 class="alert-heading">Hola {{nombre}} !</h2>
    <br>
    <br>
    <h4>
      <p> Actualmente tiene: </p>
      <br>
    </h4>
    <h5>
      <p>  - ...  viaje/s por realizar </p>
      <br>
      <br>
      <br>
      <p> Página en construcción </p>
    </h5>
  </div>
{% endblock %}
<!--  </body>
</html>-->
