{% extends "admin_base.html" %}
{% block title %}Listar choferes{% endblock %}
{% block h1 %}
  <center>Listado de choferes</center>
{% endblock %}
{% block content %}
    {% csrf_token %}
    <p style="float: right;">
      <a style="padding-top:10px;padding-bottom:10px;padding-left:40px;padding-right:40px;" href="/registrar_chofer" type="submit" class="btn btn-success" name=nombre >Agregar chofer</a>
    </p>
    <br>
    <br>
    <br>
    <br>
    {% if mensaje == "detalle" %}
      <p style="float: right;">
        <a style="padding-top:10px;padding-bottom:10px;padding-left:40px;padding-right:40px;" href="/listar_choferes" type="submit" class="btn btn-success" name=nombre >Volver a los listados</a>
      </p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td>Nombre de usuario</td>
          <td>Nombre</td>
          <td>Apellido</td>
          <td>Dni</td>
          <td>Email</td>
          <td>Dirección</td>
          <td>Teléfono</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{dato.usuario}}</td>
        <td>{{dato.nombre}}</td>
        <td>{{dato.apellido}}</td>
        <td>{{dato.dni}}</td>
        <td>{{dato.email}}</td>
        <td>{{dato.direccion}}</td>
        <td>{{dato.telefono}}</td>
      </tr>


    {% else %}


      {% if mensaje == "eliminado"%}
        <div class='alert alert-success' role='alert'>
          El chofer se eliminó exitosamente!
        </div>
      {% else %}
        {% if mensaje == "editado" %}
        <div class='alert alert-success' role='alert'>
          El chofer se modificó exitosamente!
        </div>
        {% endif %}
      {% endif %}
      {% if choferes %}
        <table class="table table-bordered">
          <thead>
            <tr>
              <td>Nombre</td>
              <td>Apellido</td>
              <td>Dni</td>
              <td></td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            {% for chofer in choferes %}
            <tr>
              <td>{{chofer.nombre}}</td>
              <td>{{chofer.apellido}}</td>
              <td>{{chofer.dni}}</td>
              <td> <a class="btn btn-primary" href= "ver_detalle_chofer/{{chofer.dni}}" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;">Ver detalle</a>
                <td> <a class="btn btn-warning" href= "modificar_chofer/{{chofer.dni}}" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;">Editar</a>  </td>
                <td> <a class="btn btn-danger" href= "eliminar_chofer/{{chofer.dni}}" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;">Eliminar</a>  </td>
              </td>
            </tr>
            {% endfor %}
            <div class="alert alert-success" role="alert">
              Actualmente hay {{cantidad}} choferes cargados.
            </div>
        {% else %}
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Ups!</h1>
              <p class="lead">No hay choferes cargados.</p>
            </div>
          </div>
        </tbody>
      </table>
    {% endif %}
  {% endif %}
{% endblock %}
