{% extends "diseño.html" %}
{% block title %}Listar_ciudades{% endblock %}
{% block h1 %}<center>Listado de ciudades</center>{% endblock %}

{% block content %}
    {% csrf_token %}

    {% if mensaje == "detalle" %}
      <p style="float: right;">
        <a style="padding-top:10px;padding-bottom:10px;padding-left:40px;padding-right:40px;" href="/listar_ciudades" type="submit" class="btn btn-success" name=nombre >Volver a los listados</a>
      </p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td>Codigo postal</td>
          <td>Nombre</td>
          <td>Provincia</td>
          <td>Pais</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{dato.codigo_postal}}</td>
        <td>{{dato.nombre}}</td>
        <td>{{dato.provincia}}</td>
        <td>{{dato.pais}}</td>
      </tr>


    {% else %}


      {% if mensaje == "eliminado"%}
        <div class='alert alert-success' role='alert'>
          La ciudad se elimino exitosamente!
        </div>
      {% endif %}

      {% if ciudades %}
        <br>
        <p style="float: right;">
          <a style="padding-top:10px;padding-bottom:10px;padding-left:40px;padding-right:40px;" href="/agregar_ciudad" type="submit" class="btn btn-success" name=nombre >Agregar ciudad</a>
        </p>
        <br>
        <br>
        <table class="table table-bordered">
          <thead>
            <tr>
              <td>Nombre</td>
              <td>Provincia</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            {% for ciudad in ciudades %}
            <tr>
              <td>{{ciudad.nombre}}</td>
              <td>{{ciudad.provincia}}</td>
              <td> <a class="btn btn-primary" href= "ver_detalle_ciudad/{{ciudad.codigo_postal}}" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;">Ver detalle</a>
                <td> <a class="btn btn-warning" href= "editar_ciudad/{{ciudad.codigo_postal}}" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;">Editar</a>  </td>
                <td> <a class="btn btn-danger" href= "eliminar_ciudad/{{ciudad.codigo_postal}}" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;">Eliminar</a>  </td>
              </td>
            </tr>
            {% endfor %}
            <br>
            <br>
            <div class="alert alert-success" role="alert">
              Actualmente hay {{cantidad}} ciudades cargadas a la base de datos.
            </div>
        {% else %}
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Ups!</h1>
              <p class="lead">No hay ciudades cargadas.</p>
            </div>
          </div>
        </tbody>
      </table>
    {% endif %}
  {% endif %}
{% endblock %}
