{% extends "admin_base.html" %}
{% block title %}Listar_pasajeros{% endblock %}
{% block h1 %}<center>Listado de pasajeros</center>{% endblock %}

{% block content %}
    {% csrf_token %}
    <style type="text/css">
      table,th,td {
        border: 1px solid black;
        border-collapse: collapse;
        background-color: #adb5b8;
      }

      th, td {
        padding: 10px;
      }

      table{
        width: 100%;
      }

      tr:hover td{
        background-color: #f2f3f3;
      }

    </style>

    <!--p style= "float: right;">
      <a id="agregar" style="display: block; padding-top:10px;padding-bottom:10px;padding-left:40px;padding-right:40px;" href="/agregar_viaje" type="submit" class="btn btn-success" name=nombre>Agregar pasajero</a>
    </p-->
    <br>
    <br>
    {% if mensaje == "detalle" %}
    <script>
      document.getElementById("agregar").style.display = 'none'
    </script>
    <p style="float: right;">
      <a style="padding-top:10px;padding-bottom:10px;padding-left:40px;padding-right:40px;" href="/listar_pasajeros" type="submit" class="btn btn-success" name=nombre >Volver a los listados</a>
    </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Dni</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{dato.nombre}}</td>
      <td>{{dato.apellido}}</td>
      <td>{{dato.dni}}</td>
    </tr>
  </table>

    {% else %}

      {% if mensaje == "eliminado"%}
        <div class='alert alert-success' role='alert'>
          El pasajero se eliminó exitosamente!
        </div>
      {% endif %}

    {% if usuarios %}
        <br>
        <br>
        <br>
        <br>
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Dni</th>
            </tr>
          </thead>
          <tbody>
            {% for usuario in usuarios %}
            <tr>
              <td>{{usuario.nombre}}</td>
              <td>{{usuario.apellido}}</td>
              <td>{{usuario.dni}}</td>
              <!--td> <a class="btn btn-primary" href= "ver_detalle_pasajero/{{usuario.id}}" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;">Ver detalle</a>
                <td> <a class="btn btn-warning" href= "modificar_pasajero/{{usuario.id}}" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;">Editar</a>  </td>
                <td> <a class="btn btn-danger" href= "eliminar_pasajero/{{usuario.id}}" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;">Eliminar</a>  </td>
            </td-->

            </tr>
            {% endfor %}
              <br>
              <br>
              <!--form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form-->
              <div class="alert alert-success" role="alert">
                Actualmente hay {{cantidad}} pasajeros cargados.
              </div>
      {% else %}
        <br>
        <br>
        <br>
        <br>
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Ups!</h1>
            <p class="lead">No hay pasajeros cargados.</p>
          </div>
        </div>
      </tbody>
      </table>
      {% endif %}

  {% endif %}
{% endblock %}
