{% extends "admin_base.html" %}
{% block title %}Listar_ciudades{% endblock %}
{% block h1 %}<center>Listado de ciudades</center>{% endblock %}

{% block content %}
    {% csrf_token %}
    <p style="float: right;">
      <a id="agregar" style="display: block; padding-top:10px;padding-bottom:10px;padding-left:40px;padding-right:40px;" href="/agregar_ciudad" type="submit" class="btn btn-success" name=nombre >Agregar ciudad</a>
    </p>
    <br>
    <br>
    {% if mensaje == "detalle" %}
      <script>
        document.getElementById("agregar").style.display = 'none'
      </script>
      <p style="float: right;">
        <a id="detalle_ciudad" style="padding-top:10px;padding-bottom:10px;padding-left:40px;padding-right:40px;" href="/listar_ciudades" type="submit" class="btn btn-success" name=nombre >Volver a los listados</a>
      </p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td>Codigo postal</td>
          <td>Nombre</td>
          <td>Provincia</td>
          <td>Pais</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{dato.codigo_postal}}</td>
        <td>{{dato.nombre}}</td>
        <td>{{dato.provincia}}</td>
        <td>{{dato.pais}}</td>
      </tr>


      {% elif mensaje == "detalleViajeCiudad" %}
        <script>
          document.getElementById("agregar").style.display = 'none'
        </script>
        <p style="float: right;">
          <a id="detalle_ciudad" style="padding-top:10px;padding-bottom:10px;padding-left:40px;padding-right:40px;" href="/listar_viajes" type="submit" class="btn btn-success" name=nombre >Volver a los listados</a>
        </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      <table class="table table-bordered">
        <thead>
          <tr>
            <td>Codigo postal</td>
            <td>Nombre</td>
            <td>Provincia</td>
            <td>Pais</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{dato.codigo_postal}}</td>
          <td>{{dato.nombre}}</td>
          <td>{{dato.provincia}}</td>
          <td>{{dato.pais}}</td>
        </tr>




    {% else %}



      {% if mensaje == "eliminado"%}
        <div class='alert alert-success' role='alert'>
          La ciudad se elimino exitosamente!
        </div>
      {% else %}
        {% if mensaje == "editado" %}
          <div class='alert alert-success' role='alert'>
            La ciudad se modificó exitosamente!
          </div>
        {% else %}
          {% if mensaje == "no_puede" %}
            <div class='alert alert-danger' role='alert'>
              La ciudad no puede eliminarse porque pertenece a un viaje
            </div>
            {% else %}
              {% if mensaje == "no_puede2" %}
                <div class='alert alert-danger' role='alert'>
                  La ciudad no puede eliminarse porque pertenece a una ruta
                </div>
              {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}

      {% if ciudades %}
        <br>
        <br>
        <br>
        <br>
        <table class="table table-bordered">
          <thead>
            <tr>
              <td>Nombre</td>
              <td>Provincia</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            {% for ciudad in ciudades %}
            <tr>
              <td>{{ciudad.nombre}}</td>
              <td>{{ciudad.provincia}}</td>
              <td> <a class="btn btn-primary" href= "ver_detalle_ciudad/{{ciudad.codigo_postal}}" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;">Ver detalle</a>
                <td> <a class="btn btn-warning" href= "editar_ciudad/{{ciudad.codigo_postal}}" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;">Editar</a>  </td>
                <td> <a class="btn btn-danger" href= "eliminar_ciudad/{{ciudad.codigo_postal}}" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;">Eliminar</a>  </td>
              </td>
            </tr>
            {% endfor %}
            <div class="alert alert-success" role="alert">
              Actualmente hay {{cantidad}} ciudades cargadas.
            </div>
        {% else %}
          <br>
          <br>
          <br>
          <br>
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Ups!</h1>
              <p class="lead">No hay ciudades cargadas.</p>
            </div>
          </div>
        </tbody>
      </table>
    {% endif %}
  {% endif %}
{% endblock %}
