{% extends "chofer_base.html" %}
{% block title %}Listar_viajes{% endblock %}
{% block h1 %}<center>Listado de próximos viajes</center>{% endblock %}
[html] <link id="nombre_que_quieras" href="listar_ciudades.html" rel="import" />  [/html]

{% block content %}
    {% csrf_token %}
    <style type="text/css">
      table,th,td {
        border: 1px solid black;
        border-collapse: collapse;
        background-color: #adb5b8;
      }

      th, td {
        padding: 10px;
      }

      table{
        width: 100%;
      }

      tr:hover td{
        background-color: #f2f3f3;
      }

    </style>

    {% if mensaje == "detalle" %}
    <p style="float: right;">
      <a style="padding-top:10px;padding-bottom:10px;padding-left:40px;padding-right:40px;" href="/listar_proximos_viajes" type="submit" class="btn btn-success" name="nombre" >Volver a los listados</a>
    </p>
    <br>
    <br>
  <table>
    <thead>
      <tr>
        <th>Viaje</th>
        <th>Fecha de salida</th>
        <th>Ciudad de origen</th>
        <th>Fecha de llegada</th>
        <th>Ciudad de destino</th>
        <th>Chofer</th>
        <th>Vehiculo</th>
        <th>Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{dato.id}}</td>
      <td>{{dato.fecha_salida}}</td>
      <td>{{ruta.origen}}

      </td>
      <td>{{dato.fecha_llegada}}</td>
      <td>{{ruta.destino}}
      </td>
      <td>{{dato.chofer.nombre}} {{dato.chofer.apellido}}
        <BR>  DNI {{dato.chofer}}
      </td>
      <td>{{dato.vehiculo.marca}} {{dato.vehiculo.modelo}}<br> {{dato.vehiculo}}
      </td>
      <td>${{dato.precio}}</td>

    </tr>
  </table>

    {% else %}

      {% if mensaje == "cancelado" %}
        <div class='alert alert-success' role='alert'>
          El viaje se canceló exitosamente!
        </div>
      {% else %}
        {% if mensaje == "no_puede" %}
        <div class='alert alert-danger' role='alert'>
          El viaje no puede ser cancelado, porque hay pasajes vendidos.
        </div>
        {% endif %}
      {% endif %}

    {% if viajes %}
        <br>
        <br>
        <table>
          <thead>
            <tr>
              <th>Viaje</th>
              <th>Fecha de salida</th>
              <th>Ciudad de origen</th>
              <th>Ciudad de destino</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for viaje in viajes %}
            <tr>
              <td>{{viaje.id}}</td>
              <td>{{viaje.fecha_salida}}</td>
            {% for r in rutas %}
              {% if r.id == viaje.ruta_id %}

              <td>{{r.origen}}</td>
              <td>{{r.destino}}</td>
              {% endif %}

            {% endfor %}

              <td> <a class="btn btn-dark" href="/ver_pasajeros/{{viaje.id}}/" style="color:white;padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;">Pasajeros</a> </td>
              <td> <a class="btn btn-primary" href= "ver_detalle_viaje_chofer/{{viaje.id}}" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;">Ver detalle</a>
              <td> <a class="btn btn-danger" href= "cancelar_viaje_chofer/{{viaje.id}}/confirmar_cancelado_viaje" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;">Cancelar</a> </td>
            </td>

            </tr>
            {% endfor %}
              <br>
              <br>
              <div class="alert alert-success" role="alert">
                Actualmente hay {{cantidad}} viajes por hacer.
              </div>
      {% else %}
        <br>
        <br>
        <br>
        <br>
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Ups!</h1>
            <p class="lead">No tenes viajes por hacer.</p>
          </div>
        </div>
      </tbody>
      </table>
      {% endif %}

  {% endif %}
<script>
  function aparecerBoton(){
  //  document.getElementById('boton1').style.display = 'block'
    var getImport = document.quearySelector('link[rel=import]');
    var getImport += document.getElementById('nombre_que_quieras');
    document.getElementById('detalle_ciudad').value = 'Atras'
    document.getElementById('detalle_ciudad').href = '/listar_viajes/ver_detalle_viaje/{{dato.id}}'
    console.log(document.getElementById('detalle_ciudad').href)
  }
  function iniciar(){
    if (document.getElementById('iniciar').style.display == 'block'){
      document.getElementById('iniciar').style.display = 'none'
      document.getElementById('terminar').style.display = 'block'
    }
    else{
      document.getElementById('terminar').style.display = 'none'
      document.getElementById('iniciar').style.display = 'block'
    }
  }
</script>
{% endblock %}
