{% extends "admin_base.html" %}
{% block title %}menu_info_de_contacto{% endblock %}
{% block h1 %}<center>Informacion de contacto</center>{% endblock %}

{% block content %}
    {% csrf_token %}
    <style type="text/css">
      table,th,td {
        border: 1px solid black;
        border-collapse: collapse;
        background-color: #adb5b8;
      }

      th, td {
        padding: 10px;
      }

      table{
        width: 100%;
      }

      tr:hover td{
        background-color: #f2f3f3;
      }

    </style>

        <br>
        <br>
        <br>
        <br>
        <table>
          <thead>
            <tr>
              <th>Correo</th>
              <th>Telefono 1</th>
              <th>Telefono 2</th>
              <th>Celular</th>
              <th>Descripcion</th>
              <th>Direccion</th>
              <th></th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{texto.email}}</td>
              {% if texto.telefono1 == None %}
              <td></td>
              {% else %}
              <td>{{texto.telefono1}}</td>
              {% endif %}
              {% if texto.telefono2 == None %}
              <td></td>
              {% else %}
              <td>{{texto.telefono2}}</td>
              {% endif %}
              {% if texto.celular == None %}
              <td></td>
              {% else %}
              <td>{{texto.celular}}</td>
              {% endif %}
              <td>{{texto.descripcion}}</td>
              <td>{{texto.direccion}}</td>

              <!--td> <a class="btn btn-primary" href= "ver_detalle_pasajero/{{usuario.id}}" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;">Ver detalle</a></td-->
                <td> <a class="btn btn-warning" href= "modificar_texto/{{texto.id}}" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;">Editar</a>  </td>
              </td>

            </tr>
              <br>
              <br>
              <!--form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form-->
{% endblock %}
