{% extends "diseño.html" %}
{% load static %}
{% block title %}Editar_viaje{% endblock %}
{% block h1 %}<center>Editar viaje</center>{% endblock %}
{% block content %}
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
crossorigin="anonymous"></script>

  {% if form.errors %}
    <div class= 'alert alert-danger' role='alert'>
      fallo en el registro
    </div>
    {% endif %}

  <form action="/actualizar_viaje/{{viajes.id}}/" method="POST">
    {% csrf_token %}
    {% if mensaje == "ok" %}
      <div class='alert alert-success' role='alert'>
        El viaje se actualizó exitosamente!
      </div>
    {% endif %}
    {% if mensaje == "not_ok" %}
      {% for i in errores %}
        {% if i == 1 %}
          <div class= 'alert alert-danger' role='alert'>
              Fallo en el registro del viaje. Un vehiculo no puede realizar 2 viajes el mismo dia
            </div>
        {% else %}
          {% if i == 2 %}
            <div class= 'alert alert-danger' role='alert'>
              Fallo en el registro del viaje. El viaje no se puede realizar porque el vehiculo está en otro viaje en ese momento
            </div>
        {% endif %}
        {% if i == 3 %}
          <div class= 'alert alert-danger' role='alert'>
            Fallo en el registro del viaje. El chofer ya tiene un viaje el mismo dia
          </div>
      {% endif %}
        {% if i == 4 %}
          <div class= 'alert alert-danger' role='alert'>
            Fallo en el registro del viaje. El viaje no se puede realizar porque el chofer esta en otro viaje en ese momento
          </div>
      {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}

    <div class="container">
      <center>
        <div class="row">
          <div class="col-sm">
            <h5> <p style="margin: 40px">Actualice el formulario</p></h5>
            <h5>


              <div class="dates">
                <div class="input-group">
                  <div class="input-group-prepend">
                      <label class="input-group-text" type="text" name="fecha_salida_label" for="inputGroupSelect01">Fecha de salida  </label>
                  </div>
                    <input type="text" autocomplete="off" class="form-control" name="fecha_salida" id="fecha" placeholder="dd-mm-aaaa" required/>
                  </div>
                </div>

                  <br>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" type="text" name="hora" for="inputGroupSelect01">Hora salida</label>
                    </div>
                    <select class="custom-select" name= "hora_de_salida" id="hora_de_salida">
                      <option disabled=True>--Seleccione hora--</option>
                      <option class="dropdown-item" value="01">01</option>
                      <option class="dropdown-item" value="02">02</option>
                      <option class="dropdown-item" value="03">03</option>
                      <option class="dropdown-item" value="04">04</option>
                      <option class="dropdown-item" value="05">05</option>
                      <option class="dropdown-item" value="06">06</option>
                      <option class="dropdown-item" value="07">07</option>
                      <option class="dropdown-item" value="08">08</option>
                      <option class="dropdown-item" value="09">09</option>
                      <option class="dropdown-item" value="10">10</option>
                      <option class="dropdown-item" value="11">11</option>
                      <option class="dropdown-item" value="12">12</option>
                    </select>
                    <div class="input-group-prepend">
                      <label class="input-group-text"  type="text" name="dos_puntos" for="inputGroupSelect01">:</label>
                    </div>
                    <select class="custom-select" name= "minuto_de_salida" id="minuto_de_salida">
                      <option disabled=True>--Seleccione minutos--</option>
                      {% for i in minutos %}
                        {% if i < 10 %}
                          <option class="dropdown-item" value="0{{i}}">0{{i}}</option>
                        {% else %}
                          <option class="dropdown-item" value="{{i}}">{{i}}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                    <div class="input-group-prepend">
                      <label class="input-group-text" type="text" name="p" for="inputGroupSelect01">-</label>
                    </div>
                    <select class="custom-select" name= "horario_de_salida" id="horario_de_salida">
                      <option disabled=True>--Seleccione horario--</option>
                      <option class="dropdown-item" value="AM">AM</option>
                      <option class="dropdown-item" value="PM">PM</option>
                    </select>
                  </div>

              <br>




              <br>

              <p>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text" type="text" name="ruta" for="inputGroupSelect01">Ruta</label>
                  </div>
                  <select class="form-select col-sm" type="text" name="ruta" id="ruta">
                    <option disabled=True> --Seleccione-- </option>
                      {% for i in rutas %}
                          <option value= "{{i.id}}">{{i.nombre}}</option>
                      {% endfor %}
                  </select>
                </div>
              </p>
              <input hidden type="text" name="fecha_llegada" id="fecha2">
              <p> <input hidden type="text" name="hora_salida" placeholder="hora salida" id="hora_salida"></p>
              <p> <input hidden type="text" name="hora_llegada" placeholder="hora llegada" id="hora_llegada"></p>
              <p> <input hidden type="text" name="asientos_total" placeholder="asientos_total" id="asientos_total"></p>
              <p> <input hidden type="text" name="asientos_disponibles" placeholder="asientos disponibles" id="asientos_disponibles"></p>
              <p> <input hidden type="text" name="vendidos" placeholder="vendidos" id="vendidos"></p>
              <p> <input hidden type="text" name="estado" id="estado" value="activo"></p>
              <p>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text" type="text" name="chofe1r" for="inputGroupSelect01">Chofer</label>
                  </div>
                    <select class="form-select col-sm" type="text" name="chofer" id="chofer">
                      <option disabled=True> --Seleccione-- </option>
                        {% for i in choferes %}
                          {% if i.tipo_usuario == 2 %}
                            <option value= "{{i.id}}">{{i.nombre}} {{i.apellido}} / DNI {{i.dni}}</option>
                            {% endif %}
                          {% endfor %}
                    </select>
                  </div>
                </p>
              <p>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text" type="text" name="vehiculoLabel" for="inputGroupSelect01">Vehiculo</label>
                  </div>
                  <select class="form-select col-sm" type="text" name="vehiculo" id="vehiculo">
                    <option disabled=True> --Seleccione-- </option>
                      {% for i in vehiculos %}
                        {% if i.premium %}
                          <option value= "{{i.id}}">Patente: {{i.patente}} / Marca: {{i.marca}} / Cantidad de asientos: {{i.capacidad}} / Tipo de asiento: semi cama</option>
                        {% else %}
                            <option value= "{{i.id}}">Patente: {{i.patente}} / Marca: {{i.marca}} / Cantidad de asientos: {{i.capacidad}} / Tipo de asiento: cama</option>
                        {% endif %}
                      {% endfor %}
                  </select>
                </div>
              </p>
            </h5>
            <p>
                <div class="input-group-prepend">
                  <label class="input-group-text" type="text" name="precio0" for="inputGroupSelect01">Precio $</label>
                  <input class="col-sm-11 col-form-label" type="text" id="precio" name="precio" title="Ingresar un precio (Ej. 150,50)" required>
                </div>
            </p>
          </div>
        </div>
      </center>
    </div>
  <center>
    <br>
    <p>
      <button onclick="horario()" style="padding-top:10px;padding-bottom:10px;padding-left:40px;padding-right:40px;" type="submit" class="btn btn-success">Guardar</button>
    </p>
    <p>
      <a class="btn btn-dark" href="/home">Cancelar</a>
    </p>
  </center>

</form>
<script>
  var date = new Date("{{viajes.fecha_salida}}");
  var date2 = new Date("{{viajes.fecha_llegada}}");
  function formatDate(date) {
    var day = date.getDate();
    if (day < 10) {
        day = "0" + day;
    }
    var month = date.getMonth() + 1;
    if (month < 10) {
        month = "0" + month;
    }
    var year = date.getFullYear();
    return day + "/" + month + "/" + year;
  }
  //console.log("{{viajes.chofer.id}}")
  document.getElementById('fecha').value = formatDate(date)
  document.getElementById('hora_de_salida').value = "{{viajes.hora_salida}}".replace(':', '').replace(' ','').match(/.{0,2}/g)[0]
  document.getElementById('minuto_de_salida').value = "{{viajes.hora_salida}}".replace(':', '').replace(' ','').match(/.{0,2}/g)[1]
  document.getElementById('horario_de_salida').value = "{{viajes.hora_salida}}".split(":")[2]
  document.getElementById('chofer').value = "{{viajes.chofer.id}}"
  document.getElementById('vehiculo').value = "{{viajes.vehiculo.id}}"
  document.getElementById('precio').value = "{{viajes.precio}}".replace(/,/g, '.');
  document.getElementById('ruta').value = "{{viajes.ruta.id}}"

  document.getElementById('hora_salida').value = (document.getElementById('hora_de_salida').value + ":" + document.getElementById('minuto_de_salida').value + " " + document.getElementById('horario_de_salida').value)
  //document.getElementById('asientos_total').value = "{{viajes.asientos_total}}"
//  document.getElementById('asientos_disponibles').value = "{{viajes.asientos_disponibles}}"
//  document.getElementById('vendidos').value = "{{viajes.vendidos}}"
  document.write('Fecha ' + date)
  function horario(){
    document.getElementById('vendidos').value = "{{viajes.vendidos}}"
    document.getElementById('asientos_total').value="{{viajes.asientos_total}}"
    document.getElementById('asientos_disponibles').value= ("{{viajes.asientos_total}}"-"{{viajes.vendidos}}");
    document.getElementById('hora_salida').value = (document.getElementById('hora_de_salida').value + ":" + document.getElementById('minuto_de_salida').value + ":" + document.getElementById('horario_de_salida').value)
  //  document.getElementById('vendidos').value = document.getElementById('vendidos').value
  // document.getElementById('asientos_total').value=  document.getElementById('asientos_total').value
  //  document.getElementById('asientos_disponibles').value= document.getElementById('asientos_disponibles').value
    document.getElementById('vehiculo').value = document.getElementById('vehiculo').value
    document.getElementById('fecha').value = document.getElementById('fecha').value.replace('00:00:00+00:00','')
    document.getElementById('fecha2').value = document.getElementById('fecha').value


  }

</script>


{% endblock %}
