{% extends "chofer_base.html" %}

{% block title %}Testeo{% endblock %}
{% block h1 %}<center>Editar testeo</center>{% endblock %}
{% block content %}
<form action="/ver_pasajeros/guardar_test/{{viaje.id}}/{{id_pasaje}}/editado/" method="POST">
  {% csrf_token %}

<div class = "container">
  <div class= "row row-cols-2">

    <div class= "col-6" style="float:left;">
      <br><br><br>
        <div class="alert alert-success" role="alert" style="padding-right:300px">
          <h2 class="alert-heading">Pasajero</h2>
          <h4>
            <p> Nombre: {{pasaje.nombre}}</p>
            <p> Apellido: {{pasaje.apellido}}</p>
            <p> DNI: {{pasaje.dni}}</p>
            <p> Estado del pasaje: {{pasaje.estado}}</p>


          </h4>
        </div>
      </div>
  <div class= "col-6" style="float:right;">
      <br><br><br>
        <h4>
          <div class="input-group mb-3">
          <div class="input-group-prepend">

            <label class="input-group-text" type="text" name="temperatura" for="inputGroupSelect01">Temperatura</label>
          </div>
          <select class="custom-select-md-3" style="padding-right:160px" name= "temperatura" id="temperatura" required>
            <option value="" disabled=True selected>--Seleccione--</option>
            {% for i in temp %}
              <option class="dropdown-item" value={{i}}>{{i}}</option>
            {% endfor %}
          </select>
        </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend" style="padding-right: 15px;">
              <br>
              <label class="input-group-text" name="olfato_label" for="inputGroupSelect01">Perdida de olfato</label>
            </div>
            <div class="form-check form-check-inline">
              <input style="padding-left: 30px;" class="form-check-input" type="radio" name="olfato" id="inlineRadio1" value="True">
              <label style="padding-right: 10px;" class="form-check-label" for="inlineRadio1">Si</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="olfato" id="inlineRadio2" value="False" checked>
              <label class="form-check-label" for="inlineRadio2">No</label>
            </div>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend" style="padding-right: 15px;">
              <label class="input-group-text" name="gusto_label" for="inputGroupSelect01">Perdida de gusto</label>
            </div>
            <div class="form-check form-check-inline">
              <input style="padding-left: 30px;" class="form-check-input" type="radio" name="gusto" id="inlineRadio3" value="True">
              <label style="padding-right: 10px;" class="form-check-label" for="inlineRadio1">Si</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gusto" id="inlineRadio4" value="False" checked>
              <label class="form-check-label" for="inlineRadio2">No</label>
            </div>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend" style="padding-right: 30px;">
              <label class="input-group-text" name="contacto_label" for="inputGroupSelect01">Contacto estrecho con paciente covid-19</label>
            </div>
            <div class="form-check form-check-inline">
              <input style="padding-left: 30px;" class="form-check-input" type="radio" name="contacto" id="inlineRadio5" value="True">
              <label style="padding-right: 10px;" class="form-check-label" for="inlineRadio1">Si</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="contacto" id="inlineRadio6" value="False" checked>
              <label class="form-check-label" for="inlineRadio2">No</label>
            </div>
          </div>
        </h4>

        <input hidden class="col-sm col-form-label" type="text" name="pasaje" placeholder="p" id="pasaje">
        <input hidden class="col-sm col-form-label" type="text" name="id_user" placeholder="p" id="id_user">
        <input hidden class="col-sm col-form-label" type="text" name="dni" placeholder="p" id="dni">
        <input hidden class="col-sm col-form-label" type="text" name="nombre" placeholder="p" id="nombre">
        <input hidden class="col-sm col-form-label" type="text" name="apellido" placeholder="p" id="apellido">
        <input hidden class="col-sm col-form-label" type="text" name="nro_viaje" placeholder="p" id="nro_viaje">
        <input hidden class="col-sm col-form-label" type="text" name="estado" placeholder="p" id="estado">
        <input hidden class="col-sm col-form-label" type="text" name="tarjeta" placeholder="p" id="tarjeta">

        <input hidden class="col-sm col-form-label" type="text" name="viaje" placeholder="p" id="viaje">


      </div>
    </div>
    <br><br><br>
      <button style="padding-top:10px;padding-bottom:10px;padding-left:40px;padding-right:40px;float:right;" type="submit" class="btn btn-success">Guardar</button>
      <a class="btn btn-dark" href="/ver_pasajeros/{{viaje.id}}/" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;float:left">Atras</a>
  </div>


<script>
    document.getElementById("id_user").value = "{{pasaje.id_user}}"
    document.getElementById("dni").value = "{{pasaje.dni}}"
    document.getElementById("nombre").value = "{{pasaje.nombre}}"
    document.getElementById("apellido").value = "{{pasaje.apellido}}"
    document.getElementById("nro_viaje").value = "{{pasaje.nro_viaje_id}}"
    document.getElementById("estado").value = "{{pasaje.estado}}"
    document.getElementById("tarjeta").value = "{{pasaje.tarjeta_id}}"

    document.getElementById("viaje").value = "{{viaje.id}}"
    document.getElementById("pasaje").value = "{{test.pasaje}}"
    document.getElementById("temperatura").value = "{{test.temperatura}}"
    if("{{test.olfato}}" === "True" ){
      document.getElementById("inlineRadio1").checked = true;
    }
    else {
      document.getElementById("inlineRadio2").checked = true;
    }
    if("{{test.gusto}}" === "True" ){
      document.getElementById("inlineRadio3").checked = true;
    }
    else {
      document.getElementById("inlineRadio4").checked = true;
    }
    if("{{test.contacto}}" === "True" ){
      document.getElementById("inlineRadio5").checked = true;
    }
    else {
      document.getElementById("inlineRadio6").checked = true;
    }

</script>
{% endblock %}
