{% extends "admin_base.html" %}

{% block title %}Editar_insumo{% endblock %}
{% block h1 %}<center>Editar insumo</center>{% endblock %}
{% block content %}
  {% if form.errors %}
    <div class= 'alert alert-danger' role='alert'>
      fallo en el registro
    </div>
    {% endif %}

  <form action="/actualizar_insumo/{{insumos.id}}/" method="POST">
    {% csrf_token %}
    {% if mensaje == "ok" %}
      <div class='alert alert-success' role='alert'>
        El insumo se registró exitosamente!
      </div>
    {% endif %}
    {% if mensaje == "not_ok" %}
      {% for i in errores %}
        {% if i == 1 %}
          <div class= 'alert alert-danger' role='alert'>
              Fallo en el registro del insumo. El nombre ingresado ya está registrado
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}

    <div class="container">
      <center>
        <div class="row">
          <div class="col-sm">
            <h4> <p style="margin: 40px">Complete el formulario </p></h4>
            <h5>
              <br>
                <p>
                  <input class="col-sm-12 col-form-label" type="text" name="nombre" placeholder="Nombre" id='nombre' required>
                </p>
              <p>
                <input class="col-sm-12 col-form-label" type="text" name="precio" title="Ingresar un precio (Ej. 150,50)" placeholder="Precio" id='precio' required>
              </p>
              <p>
                <input class="col-sm-12 col-form-label" type="text" name="stock" placeholder="Stock" id='stock' required>
              </p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" name="categoria_label" for="inputGroupSelect01">Categoría</label>
                  </div>
                  <select class="custom-select" type=IntegerField name="categoria" id="categoria" required>
                    <option value="" disabled=True selected>--Seleccione la categoría--</option>
                    <option value="bebidas">Bebida</option>
                    <option value="snack">Snack</option>
                    <option value="galletita">Galletita</option>
                    <option value="golosina">Golosina</option>
                  </select>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend" style="padding-right: 15px;">
                  <label class="input-group-text" name="sabor_label" for="inputGroupSelect01">Sabor</label>
                </div>
                <div class="form-check form-check-inline">
                  <input style="padding-left: 30px;" class="form-check-input" type="radio" name="sabor" id="inlineRadio1" value="True">
                  <label style="padding-right: 10px;" class="form-check-label" for="inlineRadio1">Dulce</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="sabor" id="inlineRadio2" value="False" checked>
                  <label class="form-check-label" for="inlineRadio2">Salado</label>
                </div>
              </div>
            </h5>
          </div>
        </div>
      </center>
    </div>
  <center>
    <br>
    <br>
    <br>
      <p>
        <button style="padding-top:10px;padding-bottom:10px;padding-left:40px;padding-right:40px;" type="submit" class="btn btn-success">Agregar</button>
      </p>
      <p>
        <a class="btn btn-dark" href="/listar_insumos">Cancelar</a>
      </p>
</center>
  </form>
  <script>
    document.getElementById("nombre").value = "{{insumos.nombre}}"
    document.getElementById("precio").value = "{{insumos.precio}}".replace(',','.')
    document.getElementById("stock").value = "{{insumos.stock}}"
    document.getElementById("categoria").value = "{{insumos.categoria}}"
    if("{{insumos.sabor}}" === "True" ){
      document.getElementById("inlineRadio1").checked = true;
    } else {
      document.getElementById("inlineRadio2").checked = true;
    }
  </script>

{% endblock %}
