{% extends "admin_base.html" %}

{% block title %}Agregar_admin{% endblock %}
{% block h1 %}<center>Registrar administrador</center>{% endblock %}
{% block content %}
  {% if form.errors %}
    <div class= 'alert alert-danger' role='alert'>
      fallo en el registro
    </div>
    {% endif %}

  <form action="/guardarRegistroAdmin/" method="POST">
  <!--  {% csrf_token %} -->
    {% if mensaje == "ok" %}
      <div class='alert alert-success' role='alert'>
        El administrador se registró exitosamente!
      </div>
    {% endif %}
    {% if mensaje == "not_ok" %}
      {% for i in errores %}
        {% if i == 1 %}
            <div class= 'alert alert-danger' role='alert'>
              Fallo en el registro. El dni ingresado ya esta registrado
            </div>
          {% endif %}
      {% endfor %}
    {% endif %}


    <div class="container">
      <center>
        <div class="row">
          <div class="col-sm">
            <h4> <p style="margin: 40px">A continuación ingrese los datos del administrador </p></h4>
            <h5>
              <p><input class="col-sm-8 col-form-label" type="text" name="dni" pattern="^([0-9]+)" placeholder="DNI" required></p>
              <p><input class="col-sm-8 col-form-label" type="password" pattern=".{6,}" title= "La contraseña debe contener al menos 6 caracteres" name="password" placeholder="Contraseña" required> </p>
              <p><input class="col-sm-4 col-form-label" type="text" name="nombre" placeholder="Nombre" required> <input class="col-sm-4 col-form-label" type="text" name="apellido" placeholder="Apellido" required> </p>
              <p><input class="col-sm-8 col-form-label" type="email" pattern= "[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" title= "Ingrese un mail valido" name="email" placeholder="Email" required> </p>
              <p><input class="col-sm-4 col-form-label" type="text" name="telefono" pattern="^([0-9]+)" placeholder="Telefono" required> <input class="col-sm-4 col-form-label" type="text" name="direccion" placeholder="Direccion" required> </p>
            </h5>
          </div>
        </div>
      </center>
    </div>
  <center>
      <p>
        <button style="padding-top:10px;padding-bottom:10px;padding-left:40px;padding-right:40px;" type="submit" class="btn btn-success">Registrar</button>
      </p>
      <p>
        <a class="btn btn-dark" href="/listar_admin">Cancelar</a>
      </p>
</center>
  </form>
{% endblock %}
