{% extends base %}
{% block title %}Pasajeros{% endblock %}
{% block h1 %}<center>Listado de pasajeros</center>{% endblock %}
{% block content %}
<form action="/ver_pasajeros/iniciar_viaje/{{viaje.id}}/" method="POST">
    {% csrf_token %}
    {% if editado == "si" %}
      <div class='alert alert-success' role='alert'>
        El test del pasajero fue editado exitosamente!
      </div>
    {% endif %}
    {% if mensaje == "no_puede" %}
      <div class='alert alert-danger' role='alert'>
        El pasajero no puede ser eliminado
      </div>
    {% else %}
      {% if mensaje == 'eliminado' %}
        <div class='alert alert-success' role='alert'>
          El pasajero fue eliminado exitosamente!
        </div>
      {% endif %}
    {% endif %}
    {% if base == "admin_base.html" %}
      <a class="btn btn-dark" href= "/listar_viajes" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;float:left;">Atrás</a>
    {% else %}
      {% if viaje.estado == "iniciado" %}
          <a class="btn btn-dark" href= "/listar_viajes_iniciados" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;float:left;">Atrás</a>
      {% endif %}
      {% if viaje.estado == "realizado" %}
        <a class="btn btn-dark" href= "/listar_viajes_realizados" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;float:left;">Atrás</a>
      {% endif %}
      {% if viaje.estado == "activo" %}
      <a class="btn btn-dark" href= "/listar_proximos_viajes" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;float:left;">Atrás</a>
      {% endif %}
    {% endif %}
    <br>
    <div class="container">
      <h4>
      <div class='alert alert-success' role='alert'>
        VIAJE: {{viaje.ruta}} <br>
        SALIDA: {{viaje.fecha_salida}}<br>
        LLEGADA: {{viaje.fecha_llegada}}<br>
        CHOFER: {{viaje.chofer.nombre}} {{viaje.chofer.apellido}}
        {% if base == "chofer_base.html" and viaje.estado == 'activo' %}
          {% if iniciar and cant_p > 0 %}
            <button onclick = 'boton_inicio()' id='iniciar' class="btn btn-success" style="display:block; padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;float: right;" type='submit'>Iniciar</button>
          {% endif %}
        {% else %}
          {% if base == "chofer_base.html" and viaje.estado == 'iniciado' %}
          <button onclick = 'boton_terminar()' id='terminar' class="btn btn-danger" style="display:block; padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;float: right;" type='submit'>Terminar</button>
          {% endif %}
        {% endif %}<br>
        VEHICULO: {{viaje.vehiculo}}<br>
        PASAJES VENDIDOS: {{viaje.vendidos}}<br>
        ASIENTOS DISPONIBLES: {{viaje.asientos_disponibles}}<br>
        PRECIO: $ {{viaje.precio}}<br>

      </div>
    </div>
    </h4>
    <style type="text/css">
      table,th,td {
        border: 1px solid black;
        border-collapse: collapse;
        background-color: #adb5b8;
      }

      th, td {
        padding: 10px;
      }

      table{
        width: 100%;
      }

      tr:hover td{
        background-color: #f2f3f3;
      }

    </style>
  {% if cant_p != 0 %}
  <h5>
    <div class='alert alert-warning' role='alert'>
      El viaje no puede ser iniciado hasta que todos los pasajeros sean testeados o marcados como ausente
    </div>
  </h5>
  <h5>
    <div class='alert alert-warning' role='alert'>
      Todos los pasajeros que no pasen el testeo o sean eliminados, tienen un 100% del reembolso de su pasaje
    </div>
  </h5>
  {% if base == "admin_base.html" %}
      <h5>
        <div class='alert alert-warning' role='alert'>
          ATENCIÓN: COMO ADMINISTRADOR SOLO PUEDE VER LOS TEST (TESTEAR, MARCAR COMO AUSENTE O ELIMINAR A UN PASAJERO SON ACCIONES DEL CHOFER)
        </div>
      </h5>
        <h4>
          <table>
            <thead>
              <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Estado del pasaje</th>
                <th>reembolso</th>
                <th></th>
            </tr>
          </thead>
          <tbody>
            {% for i in pasajeros %}
            <tr>
              <td>{{i.dni}}</td>
              <td>{{i.nombre}}</td>
              <td>{{i.apellido}}</td>
              <td>{{i.estado}}</td>
              {% if i.estado == "Presente: RECHAZADO" %}
                  <td>SI</td>
              {% endif %}
              {% if i.estado == "Presente: ACEPTADO" %}
                  <td>NO AMERITA</td>
              {% endif %}
              {% if i.estado == "Ausente: RECHAZADO" %}
                  <td>NO</td>
              {% endif %}
              {% if i.estado == "ELIMINADO" %}
                  <td>SI</td>
              {% endif %}
              {% if i.estado == 'activo' %}
                  <td>-</td>
                  <td> EL PASAJERO AUN NO FUE TESTEADO </td>
              {% else %}
                {% if i.estado != "ELIMINADO" and i.estado != "Ausente: RECHAZADO" %}
                  <td> <a class="btn btn-primary" href= "/ver_test/{{i.id}}/" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;">Ver test</a>  </td>
                {% else %}
                  <td></td>
                {% endif %}
              {% endif %}
            </tr>
            {% endfor %}
          </table>
        </h4>
          <br><br><br>
          {% endif %}
          {% if base == "chofer_base.html" and viaje.estado == "activo" %}
                <h4>
                  <table>
                    <thead>
                      <tr>
                        <th>DNI</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Estado del pasaje</th>
                        <th>reembolso</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in pasajeros %}
                    <tr>
                      <td>{{i.dni}}</td>
                      <td>{{i.nombre}}</td>
                      <td>{{i.apellido}}</td>
                      <td>{{i.estado}}</td>
                      {% if testear %}
                          {% if i.estado == "Presente: RECHAZADO" %}
                              <td>SI</td>
                          {% endif %}
                          {% if i.estado == "Presente: ACEPTADO" %}
                              <td>NO AMERITA</td>
                          {% endif %}
                          {% if i.estado == "Ausente: RECHAZADO" %}
                              <td>NO</td>
                              <td></td>
                              <td></td>
                              <td></td>
                          {% endif %}
                          {% if i.estado == "ELIMINADO" %}
                              <td>SI</td>
                              <td></td>
                              <td></td>
                              <td></td>
                          {% endif %}
                          {% if i.estado == 'activo' %}
                              <td>-</td>
                              <td> <a class="btn btn-success" href= "/testeo/{{i.id}}/" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;">Testear</a>  </td>
                              <td> <a class="btn btn-dark" href= "/confirmar_ausente/{{i.id}}/" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;">Ausente</a>  </td>
                          {% else %}
                            {% if i.estado != "ELIMINADO" and i.estado != "Ausente: RECHAZADO" %}
                                <td> <a class="btn btn-primary" href= "/ver_test/{{i.id}}/" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;">Ver test</a>  </td>
                            {% endif %}
                          {% endif %}
                            {% if i.estado != "activo" and i.estado != "ELIMINADO" and i.estado != "Ausente: RECHAZADO" %}
                              <td> <a class="btn btn-warning" href= "/editar_test/{{i.id}}/" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;">Editar test</a>  </td>
                              <td> NO SE PUEDE ELIMINAR (el pasajero ya fue testeado o esta ausente) </td>
                            {% else %}
                              {% if i.estado != "ELIMINADO" and i.estado != "Ausente: RECHAZADO" %}
                                <td> <a class="btn btn-danger" href= "/listar_pasajeros/eliminar/{{i.id}}/{{viaje.id}}/confirmar_eliminado_pasajero/" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;">Eliminar</a>  </td>
                              {% endif %}
                            {% endif %}
                      {% else %}
                        {% if i.estado == "ELIMINADO" %}
                          <td>SI</td>
                          <td></td>
                          <td></td>
                          <td></td>
                        {% else %}
                          <td>-</td>
                          <td> NO PUEDE TESTEAR HASTA EL DÍA DEL VIAJE </td>
                          <td> NO PUEDE MARCAR AUSENTE HASTA EL DÍA DEL VIAJE </td>
                          <td> <a class="btn btn-danger" href= "/listar_pasajeros/eliminar/{{i.id}}/{{viaje.id}}/confirmar_eliminado_pasajero/" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;">Eliminar</a>  </td>
                          {% endif %}
                        {% endif %}
                    </tr>
                    {% endfor %}
                  </table>
                </h4>
                  <br><br><br>
                  {% endif %}
{% endif %}

{% if base == "chofer_base.html" %}
  {% if viaje.estado == "iniciado" or viaje.estado == "realizado" %}
      <h4>
        <table>
          <thead>
            <tr>
              <th>DNI</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Estado del pasaje</th>
              <th>reembolso</th>
              <th></th>
          </tr>
        </thead>
        <tbody>
          {% for i in pasajeros %}
          <tr>
            <td>{{i.dni}}</td>
            <td>{{i.nombre}}</td>
            <td>{{i.apellido}}</td>
            <td>{{i.estado}}</td>
            {% if i.estado == "Presente: RECHAZADO" %}
                <td>SI</td>
            {% endif %}
            {% if i.estado == "Presente: ACEPTADO" %}
                <td>NO AMERITA</td>
            {% endif %}
            {% if i.estado == "Ausente: RECHAZADO" %}
                <td>NO</td>
            {% endif %}
            {% if i.estado == "ELIMINADO" %}
                <td>SI</td>
            {% endif %}
            {% if i.estado == "Presente: ACEPTADO" or i.estado == "Presente: RECHAZADO" %}
                  <td> <a class="btn btn-primary" href= "/ver_test/{{i.id}}/" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;">Ver test</a>  </td>
            {% else %}
              <td></td>
            {% endif %}
          </tr>
          {% endfor %}
        </table>
      </h4>
        <br><br><br>
      {% endif %}
{% endif %}


  {% if cant_p == 0 %}
    <br>
    <br>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Ups!</h1>
        <p class="lead">No hay pasajeros para este viaje.</p>
      </div>
    </div>

  {% endif %}
</form>
{% if base == "chofer_base.html" and viaje.asientos_disponibles != 0 and viaje.estado == "activo" %}
<p style="padding-left:500px;padding-right:500px;">
  <button class="btn btn-primary btn-lg btn-block" onclick="comprar()" style="padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px;">REALIZAR COMPRA DE PASAJES</a>
</p>
{% endif %}
<script>

  function comprar() {
   location.href ="/comprar_pasaje_cantidad/{{viaje.id}}";
  }
  function boton_inicio(){
    document.getElementById('iniciar').style.display = 'none'
    document.getElementById('terminar').style.display = 'block'
  }

  function boton_terminar(){
    document.getElementById('iniciar').style.display = 'none'
    document.getElementById('terminar').style.display = 'none'
  }


</script>
{% endblock %}
