{% extends "usuario_base.html" %}
{% load static %}
{% block title %}Buscar viaje por ciudad{% endblock %}
{% block h1 %}<center>Ver viajes próximos</center>{% endblock %}
{% block content %}
<div class="container">
  <center>
    <div class="row">
      <div class="col-sm">
          <h5>
            <br>
              <p>
              {% if viajes %}
                {% for i in viajes %}
                    <div class="media">
                      <div class="media-body">
                          <div class="card" style="width: 40rem">
                            <h4>
                              <div class="card-header">{{i.viaje}}
                              </div>
                            </h4>
                            <div class="card-body">
                              <h5>
                                {% for r in rutas %}
                                {% if r.id == i.ruta_id %}
                                  <p class="card-text">{{r.nombre}}</p>
                                  <p class="card-text">Fecha de salida: {{i.fecha_salida}} | Fecha de llegada {{i.fecha_llegada}}</p>
                                {% endif %}

                                {% endfor %}
                              <a class="btn btn-danger" href= "/cancelar_pasaje/{{i.id}}" style="padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px;float:right;">Cancelar pasaje</a>
                              <a class="btn btn-warning" href= "#" style="padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px;float:right;">Ver pasaje</a>
                              </h6>
                              <h6>
                                <p class="card-text">{{i.fecha_y_hora}}</p>
                              </h6>
                            </div>
                          </div>
                        </div>
                      </div>
                  {% endfor %}
              </p>
              {% else %}
                <br>
                <br>
                <br>
                <br>
                <div class="jumbotron jumbotron-fluid">
                  <div class="container">
                    <h1 class="display-4">Ups!</h1>
                    <p class="lead">No hay viajes por hacer.</p>
                  </div>
                </div>
              </tbody>
            </table>
          {% endif %}
          </h5>
      </div>
    </div>
  </center>
</div>

{% endblock %}
