{% extends "admin_base.html" %}

{% block title %}ver_perfil_admin{% endblock %}
{% block h1 %}<center>Ver perfil</center>{% endblock %}
{% block content %}
<p>
  <a class="btn btn-success" style= "float:right" href="/registrar_admin">Registrar administrador</a>
</p>
<p>
  <a class="btn btn-dark" style= "float:left" href="/home">Atras</a>
</p>
<br>
<br>
<br>
  <div class="alert alert-success" role="alert">
    <br>
    <br>
    <br>
    <br>
    <p> Página en construcción</p>
  </div>

  {% endblock %}
