{% extends "diseño.html" %}

{% block title %}Bienvenido{% endblock %}
{% block h1 %}<center>Bienvenido</center>{% endblock %}
<!-- No lo centre en todas las paginas por si las demas queremos el titulo al costado -->
<!--{% load static %}-->

<!--<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href= {% static 'css/bootstrap.min.css' %} >
    <title> Bienvenido</title>
  </head>
  <body style="background-color:#adb5b8">
      <div>
      <class="container"
        <h1 class="display-2" style="background-color:#115571; color:#adb5b8">
          <center>
            Bienvenido
          </center>
        </h1>
      </div>-->
{% block content %}
  <form class="user" id="form-login" method="post" action="">
    <div class="container">
      <center>
        <p style="margin: 20px"> <img src={% static 'logo_is.png' %} class= "img-fluid" alt="logo"> </p><br>
        <div class="row">
          <div class="col-sm">
              {% csrf_token %}
              <div class="form-group">
                {% if form.error_messages %}
                      <div class="alert alert-danger alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria hidden="true">&times;</span>
                          </button>
                          <strong>Error: </strong>{{ form.get_invalid_login_error }}
                      </div>
            {% endif %}
              </div>
              <h5>
                <p><input class="col-sm-4 col-form-label" type="text" id="idusername" name="username" placeholder="usuario"></p>
                <p><input class="col-sm-4 col-form-label" type="password" id="id_password" name="password" placeholder="contraseña" ></p>
              </h5>
          </div>
        </div>
      </center>
    </div>
  <center>
      <!--<button type=submit value="Iniciar Sesión" class="btn btn-success">-->
    <p><button type="submit" class="btn btn-success">Iniciar Sesión</button></p>
    <p> <a class="btn btn-outline-dark" href="/cambiar_contra" >¿Olvidó su contraseña?</a></p>
    <p> <a class="btn btn-dark" href="/registrarse">Registrarse</a></p>
  </center>
  </form>
{% endblock %}
<!--  </body>
</html>-->
